<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StackexchangeCrawler · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          StackExchange Users Crawler
        </h1>
        <h2 class="subtitle">
          Filter users by <strong>location</strong> and more!
        </h2>
        <div class='box' style='background-color: #ddd'>
          <form>
            <div class='field is-horizontal'>
              <div class='field-label is-normal'>
                <label class='label'>Location</label>
              </div>
              <div class='field-body'>
                <div class='field'>
                  <p class='control'>
                    <input type='text' class='input' placeholder='Brazil'></input>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class='list is-hoverable'>
          <%= for user <- @users do %>
            <a class='list-item'>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="<%= user.profile_image %>" alt="Image">
                  </figure>
                </div>
                <div class='media-content'>
                  <div class='content'>
                    <p><strong> <%= user.display_name %> </strong></p>
                    <small> <%= user.location %> </small>
                  </div>
                </div>
              </article>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </section>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
